.menu {
  width: 99vw;
  height: 6vh;
}
.document {
  width: 98.6vw;
  height: 92vh;
  position: relative;
}
textarea {
  resize: none;
}
.textarea-doc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: transparent;
  color: transparent;
}
.formatted-doc,
.caret-doc {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 10px;
  z-index: -1;
  white-space: pre;
}
.invis,
.caret {
  color: transparent;
}
.caret {
  background: rgba(0, 0, 0, 0.25);
}
