body {
  margin: 0px;
  background-color: rgb(250, 244, 237);
}
.main {
  position: absolute;
  z-index: 1;
}
.bar {
  height: 60px;
  background-color: rgb(40, 105, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  height: 60px;
  width: 60px;
  font-size: 40px;
  color: rgb(250, 244, 237);
  background-color: rgb(86, 148, 159);
}
.credentials {
  display: flex;
  align-items: center;
  gap: 4px;
}
.username-password {
  z-index: -1;
}
.username,
.password {
  background-color: rgb(250, 244, 237);
}
.login,
.register {
  width: 63px;
  background-color: rgb(250, 244, 237);
}
.logged-in {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50px;
  gap: 2px;
  z-index: -1;
}
.name {
  height: 15pt;
  background-color: rgb(250, 244, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px 0px 0px;
  border-radius: 2px;
}
.logout {
  background-color: rgb(250, 244, 237);
}
.profile {
  height: 40px;
  width: 40px;
  margin: 0px 5px 0px 0px;
}
.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.top {
  height: 520px;
  background-color: rgb(244, 237, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.top-left {
  font-size: 14pt;
  margin: 0px 0px 0px 16vw;
  flex: 1;
}
.logo {
  width: 500px;
  margin: 0px 0px 0px 0px;
}
.desc {
  margin: 0px 0px 14px 0px;
}
.learn {
  width: 180px;
  height: 50px;
  font-size: 14pt;
  color: rgb(250, 244, 237);
  background-color: rgb(40, 105, 131);
}
.new {
  width: 240px;
  height: 50px;
  font-size: 14pt;
  color: rgb(250, 244, 237);
  background-color: rgb(86, 148, 159);
}
.top-right {
  font-size: 22pt;
  margin: 0px 200px 0px 0px;
  flex: 2;
}
.quote {
  min-height: 24pt;
}
.bottom {
  height: 41.2vh;
  background-color: rgb(250, 244, 237);
  font-size: 16pt;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.bottom-heading {
  font-size: 22pt;
}
.about {
  margin: 0px 0px 0px 16vw;
  flex: 1;
}
.why {
  flex: 1;
}
.what {
  margin: 0px 200px 0px 0px;
  flex: 1;
}
.glegle {
  width: 30px;
  margin: 0px 0px -8px 0px;
}
.arrow {
  font-size: 22pt;
}
.registration {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-panel {
  display: flex;
  justify-content: flex-end;
}
.registration-panel-x {
  background-color: rgb(244, 237, 232);
  position: absolute;
}
.registration-panel-main {
  height: 336px;
  width: 640px;
  background-color: rgb(250, 244, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.registration-panel-main input {
  height: 10%;
  width: 80%;
  font-size: 16px;
}
.registration-title {
  width: 240px;
  margin: 0px 0px 10px 0px;
}
.registration-button {
  height: 12%;
  width: 82%;
  font-size: 16px;
  color: rgb(250, 244, 237);
  background-color: rgb(40, 105, 131);
}
.error {
  color: rgb(180, 99, 122);
  margin: 5px 0px 0px 0px;
}
.error-login {
  height: 30px;
  color: rgb(180, 99, 122);
  background-color: rgb(70, 66, 97);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vim-motions {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vim-motions-panel {
  display: flex;
  justify-content: flex-end;
}
.vim-motions-panel-x {
  background-color: rgb(244, 237, 232);
  position: absolute;
}
.vim-motions-panel-main {
  height: 300px;
  width: 315px;
  background-color: rgb(250, 244, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.c {
  font-family: monospace;
  white-space: pre;
  background-color: rgba(0, 0, 0, 0.15)
}
